{% extends "base.html" %}
{% load static %}
{% load cart_filters %}
{% block title %}Your Cart{% endblock %}
{% block body %}
<section class="flex flex-col gap-8">
  <div class="w-full flex items-center gap-4">
    <button onclick="history.back()" class="bg-gray-100 p-2 rounded-full">
      <span class="material-symbols-outlined">
        chevron_left
      </span>
    </button>
    <h1 class="text-2xl font-bold text-gray-800">Your Cart</h1>

    {% if cart.items.all %}
    <div class="text-sm text-gray-600 ml-auto">
      {{ cart.cartitem_set.count }} item{% if cart.cartitem_set.count != 1 %}s{% endif %}
    </div>
    {% endif %}
  </div>

  {% if cart.items.all %}
  <div class="w-full flex flex-col gap-8">
    {% for item in cart.cartitem_set.all %}
    <div class="w-full flex items-center gap-4 bg-white p-2 rounded-2xl">

      <div class="w-16 aspect-[1/1] flex-shrink-0 rounded-xl border border-accent bg-cover bg-center"
        style="background-image: url('{{ item.product.images.first.image.url }}')"></div>

      <div>
        <h3 class="text-sm font-semibold text-primary">{{ item.product.name }}</h3>

        <p class="text-xs opacity-60">Ksh {{ item.product.price }}</p>

        <div class="text-sm font-semibold mt-2">
          Ksh {{ item.product.price|multiply:item.quantity }}
        </div>
      </div>

      <div class="flex flex-col items-center gap-6 ml-auto">
        <div class="flex items-center border border-gray-300 rounded-md">
          <form method="POST" action="{% url 'update_cart_quantity' item.id %}" class="">
            {% csrf_token %}
            <button type="submit" name="action" value="decrease"
              class="w-6 p-0 aspect-square flex items-center justify-center bg-gray-200 text-primary">-</button>
          </form>

          <span class="px-3 py-1 text-sm">{{ item.quantity }}</span>

          <form method="POST" action="{% url 'update_cart_quantity' item.id %}" class="">
            {% csrf_token %}
            <button type="submit" name="action" value="increase"
              class="w-6 p-0 aspect-square flex items-center justify-center bg-gray-200 text-primary">+</button>
          </form>
        </div>

        <form method="POST" action="{% url 'remove_from_cart' item.id %}" class="ml-auto">
          {% csrf_token %}
          <button type="submit" class="p-0 bg-red-100">
            <span class="material-symbols-outlined text-red-600" style="font-size: 1.25rem;">
              delete
            </span>
          </button>
        </form>
      </div>

    </div>
    {% endfor %}
  </div>

  {% include "ui-components/mpesaModal.html" with total=cart.get_total %}

  <div
    class="w-full mt-auto flex flex-col md:flex-row md:items-center md:justify-between gap-4 bg-white p-4 rounded-2xl">
    <div class="flex flex-col gap-2">
      <span class="text-sm opacity-60">Total</span>
      <span class="text-2xl">Ksh {{ cart.get_total }}</span>
    </div>

    <button onclick="document.getElementById('mpesaModal').classList.remove('hidden')"
      class="flex items-center gap-2 button-secondary">
      <p class="text-accent pb-2">Checkout</p>
      <div class="h-6 w-[1px] bg-black/40"></div>
      <img src="{% static 'images/mpesa-logo.png' %}" alt="" class="h-8 object-contain" />
    </button>
  </div>
  {% else %}
  <div class="flex flex-col items-center gap-6">
    <div class="px-12 aspect-square border-8 border-black/20 flex items-center justify-center rounded-full">
      <span class="material-symbols-outlined" style="font-size: 8rem;">
        shopping_cart
      </span>
    </div>
    <p class="text-xl text-gray-600 mb-4">Your cart is empty</p>
    <a href="{% url 'shop' %}" class="button w-fit">
      Continue Shopping
    </a>
  </div>
  {% endif %}
</section>
{% endblock %}